body{background:#fff;padding:50px;font:14px/1.5 "Andika", "Segoe UI", "Meiryo UI", sans-serif;color:#777;font-weight:400}

header, main, footer{background:#eee}


p{margin:0 0 10px}

h1,h2,h3,h4,h5,h6{color:#555; margin:0 0 10px}
h1{font-size:28px}
h1,h2,h3{line-height:1.1}

a{color:#267CB9;text-decoration:none}
a:hover,a:focus{color:#069;font-weight:bold}

img{max-width:100%}


header{border-bottom: 1px solid #e5e5e5}
main{max-width:800;margin:auto;padding:20px}
hr{border:0;background:#e5e5e5;height:1px;margin:0 0 20px}
footer{position:fixed;bottom:50px; font-size: 14px}
